<div data-role="view" data-title="Details" data-model="app.imagen.imagenModel" data-bind="events: { show: detailsShow }" id="imagenModelDetailsView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem['nombre']"></span>
        </div>
    </header>

    <div class="details-content">
        <div class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset details-fields">


            </ul>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_imagenModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_imagenModel -->
</div>